* {
    box-sizing: border-box;
}
/* umumi  */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    color: white;
    gap: 10px;
}
/* solteref */
.leftBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.leftBoxHeader {
    display: flex;
    width: 100%;
    height: 50vh;
    column-gap: 10px;
}
.leftBoxHeaderLeft-Right {
    width: 50%;
    height: 50vh;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing {
    width: 100%;
    height: 25vh;
    background-color: blue;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.leftBoxFooters {
    display: flex;
    column-gap: 10px;
}
.footer1 {
    width: 25%;
    height: 25vh;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* sag teref */
.rightBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.rightBoxHeader {
    width: 100%;
    height: 25vh;
    background-color: blue;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rightmiddleBox {
    display: flex;
    column-gap: 10px;
}
.middleBox {
    width: 25%;
    height: 25vh;
    background-color: blue;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerRight {
    width: 100%;
    height: 50vh;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}